* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  color: #343a40;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

img {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: all 3s ease;
}
